.counter-block {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.counter-block_text {
  color: var(--dark-teal-color);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.counter-block_amount {
    max-width: 150px;
  box-sizing: border-box;
  padding: 28px 20px 29px 61px;
  border: 2px solid var(--dark-teal-color);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  color: var(--dark-teal-color);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.counter-block_cart-cation {
  display: flex;
  gap: 30px;
}
.plus, .minus {
    color: var(--dark-teal-color);
    font-family: "Roboto";
    font-size: var(--font-size-h3);
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    z-index: 2;
    cursor: pointer;
}