.header {
   padding: 30px 10px;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    position: relative;
}
@media (max-width: 480px) {
    .header-container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
}