.loader {
    width: 30%;
    height: 30%;
    margin: 0 auto;
    object-fit: contain;
}
.loader {
    width: 100%;
    height: 100%;
    border: 5px solid #eee;
    border-top: 5px solid #4CAF50;
    border-radius: 50%;
    animation: spin 3s linear infinite;
}

/* анімація */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.gradient-bg {
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    background: linear-gradient(
        270deg,
        #f0f0f0,
        #d9d9d9,
        #f0f0f0
    );
    background-size: 600% 600%;
    animation: gradientShift 6s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}