.new-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  min-width: 450px;
  overflow: hidden;
  position: relative;
  height: 529px;
  box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
  border-radius: 31px 34px 30px 30px;
}
.new-card_wrapper {
  width: 100%;
  /* height: 100%; */
}
.new-card_bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  overflow: hidden;
}
.new-card_bg img {
  width: 100%;
  height: 100%;
  scale: 1.1;
  position: relative;
  object-fit: cover;
}
.new-card_data {
  flex-shrink: 0;
  width: 82px;
  height: 82px;
  background-color: #fff;
  border-radius: 100%;
  margin-top: 42px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-card_data_text {
  color: var(--dark-teal-color);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.new-card_info {
  display: flex;
  /* height: 300px; */
  padding: 40px 40px;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 31px 34px 30px 30px;
  background: rgba(255, 255, 255, 1);
  margin-top: 20px;
}
.new-card_info_creator {
  color: var(--dark-teal-color);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
}
.new-card_info_title {
  color: var(--dark-teal-color);
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 2px;
}
.new-card_info_paragraph {
  color: var(--color-slate-gra);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 165.4%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .new-card {
    width: 350px;
    min-width: auto;
  }
}