.news {
    padding: 170px 10px;
    padding-bottom: 140px;
}
.news-container {
    display: flex;
    flex-direction: column;
}
.news_titleBtn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-title {
    max-width: 700px;
}
.news_wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
@media (max-width: 480px) {
  .news_wrapper {
    padding: 0px 15px;
  }
  .news {
    padding: 30px 20px;
  }
  .news_titleBtn {

  }
}