.offer {
    padding: 125px 0px;

}
.offer-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.offer_item {
    max-width: 650px;
    flex-grow: 1;
    height: 367px;
    background-color: rgb(249, 104, 147, 1);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    padding-left: 30px;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}
.offer_item:hover {
   transform: scale(1.01);
}
.offer_item_img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.offer_item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offer_item-grey {
    background: rgba(235, 240, 244, 1);
}
.offer_item_img-w120 {
    width: 100%;
}
@media (max-width:480px) {
    .offer {
        padding: 20px 0px;
    }
}