.paragraph {
    color: var(--color-slate-gray);
    font-family: "Open Sans";
    font-style: Regular;
    font-size: var(--font-size-p);
    font-weight: 400;
    line-height: 165.4%;
    letter-spacing: 0%;
    text-align: left;
}
.p-mb48 {
    margin-bottom: 48px;
}