.shop {
    padding: 70px 10px 200px 10px;
}
.shop-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.shop_titleBlock {
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-bottom: 40px;
}
.shop_titleBlock_title {
    color: var(--dark-teal-color);
    font-family: "Roboto";
    font-size: var(--font-size-h2);
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}
.shop_list {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 120px;
}
.shop_category-list {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.shop_category-list_item {
    max-width: 250px;
    padding: 20px;
    max-height: 314px;;
    border-radius: 30px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    cursor: pointer;

}
.shop_category-list_item_img {
    max-height: 300px;
    /* overflow: hidden; */
}
.shop_category-list_item_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.shop_category-list_item_title {
    color: var(--dark-teal-color);
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}
.shop_category_title {
     color: var(--aquamarine);
    font-family: "Yellowtail";
    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
    z-index: 2;
    display: block;
}
@media (max-width: 480px) {
    .shop {
        padding: 30px 10px 40px 10px
    }
    .shop_list {
        justify-content: center;
    }
}