.title {
    color: var(--dark-teal-color);
    font-family: "Roboto";
    font-style: ExtraBold;
    font-size: var(--font-size-h2);
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}
.title-mb14 {
    margin-bottom: 14px;
}