@import url("normalize.css");
@import url("variables.css");
@import url("components/header.css");
@import url("components/logo.css");
@import url("components/nav.css");
@import url("components/nav_mob.css");
@import url("components/search.css");
@import url("components/cart_icon.css");
@import url("components/burger.css");
@import url("components/hero.css");
@import url("components/italicSuperTitle.css");
@import url("components/h1.css");
@import url("components/button.css");
@import url("components/offer.css");
@import url("components/h3.css");
@import url("components/aboutUs.css");
@import url("components/title.css");
@import url("components/paragraph.css");
@import url("components/iconBlock.css");
@import url("components/shop.css");
@import url("components/starsBlock.css");
@import url("components/product-card.css");
@import url("components/loader.css");
@import url("components/testimonialAndCounter.css");
@import url("components/slider.css");
@import url("components/circle-counter.css");
@import url("components/bestProduct.css");
@import url("components/whoWeAre.css");
@import url("components/titleWithParagraph.css");
@import url("components/gallery.css");
@import url("components/news.css");
@import url("components/new-card.css");
@import url("components/emailForm.css");
@import url("components/footer.css");
@import url("components/messenger.css");
@import url("components/banner.css");

.container {
    max-width: 1400px;
    margin: 0 auto;
}
.dfc {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.dfr {
    display: flex;
    flex-direction: row;
}
.text-center {
    text-align: center;
}
.text-white {
    color: rgba(255, 255, 255, 1);
}
.m0a {
    margin: 0 auto;
}
.mb26 {
    margin-bottom: 26px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb35 {
    margin-bottom: 35px;
}
.mb50 {
    margin-bottom: 50px;
}
.fs2 {
    flex-shrink: 2;
}
.fs3 {
    flex-shrink: 3;
}
.fg0 {
    flex-grow: 0;
}
.fg1 {
    flex-grow: 1;
}
.fg2 {
    flex-grow: 2;
}